[submodule "ccs_config"]
path = ccs_config
url = https://github.com/ESMCI/ccs_config_cesm.git
fxtag = ccs_config_cesm0.0.92
fxurl = https://github.com/ESMCI/ccs_config_cesm.git
fxrequired = ToplevelRequired

[submodule "cam"]
path = components/cam
url = https://github.com/jedwards4b/CAM
fxtag =  zz_rme/cam6_3_150.02
fxurl = https://github.com/ESCOMP/CAM
fxrequired = ToplevelRequired

[submodule "cice5"]
path = components/cice5
url = https://github.com/ESCOMP/CESM_CICE5
fxtag = cice5_20220204
fxurl = https://github.com/ESCOMP/CESM_CICE5
fxrequired = ToplevelRequired

[submodule "cice6"]
path = components/cice
url = https://github.com/jedwards4b/CESM_CICE
fxtag = rme/cesm_cice6_5_0_7
fxurl = https://github.com/ESCOMP/CESM_CICE
fxrequired = ToplevelRequired

[submodule "cmeps"]
path = components/cmeps
url = https://github.com/ESCOMP/CMEPS.git
fxtag = cmeps0.14.50
fxurl = https://github.com/ESCOMP/CMEPS.git
fxrequired = ToplevelRequired

[submodule "cdeps"]
path = components/cdeps
url = https://github.com/jedwards4b/CDEPS.git
fxtag = rme/cdeps1.0.28
fxurl = https://github.com/ESCOMP/CDEPS.git
fxrequired = ToplevelRequired

[submodule "cpl7"]
path = components/cpl7
url = https://github.com/ESCOMP/CESM_CPL7andDataComps
fxtag = cpl77.0.7
fxurl = https://github.com/ESCOMP/CESM_CPL7andDataComps
fxrequired = ToplevelRequired

[submodule "share"]
path = share
url = https://github.com/ESCOMP/CESM_share
fxtag = share1.0.18
fxurl = https://github.com/ESCOMP/CESM_share
fxrequired = ToplevelRequired

[submodule "SLIM"]
path = components/slim
url = https://github.com/ESCOMP/SimpleLand
fxtag = slim0.4.002_cesm2_3_beta15
fxurl = https://github.com/ESCOMP/SimpleLand
fxrequired = ToplevelRequired

[submodule "mct"]
path = libraries/mct
url = https://github.com/MCSclimate/MCT
fxtag = MCT_2.11.0
fxurl = https://github.com/MCSclimate/MCT
fxrequired = ToplevelRequired

[submodule "parallelio"]
path = libraries/parallelio
url = https://github.com/NCAR/ParallelIO
fxtag = pio2_6_2
fxurl = https://github.com/NCAR/ParallelIO
fxrequired = ToplevelRequired

[submodule "cime"]
path = cime
url = https://github.com/jedwards4b/cime
fxtag = rme/cime6.0.221.02
fxurl = https://github.com/ESMCI/cime
fxrequired = ToplevelRequired

[submodule "cism"]
path = components/cism
url = https://github.com/jedwards4b/CISM-wrapper
fxtag = rme/cismwrap_2_1_98.01
fxurl = https://github.com/ESCOMP/CISM-wrapper
fxrequired = ToplevelRequired

[submodule "clm"]
path = components/clm
url = https://github.com/jedwards4b/CTSM
fxtag = rme_tags/CESM3_dev.n04_ctsm5.1.dev166.01
fxurl = https://github.com/ESCOMP/CTSM
fxrequired = ToplevelRequired

[submodule "fms"]
path = libraries/FMS
url = https://github.com/jedwards4b/FMS_interface
fxtag = rme/fi_230818.01
fxurl = https://github.com/ESCOMP/FMS_interface
fxrequired = ToplevelRequired

[submodule "mizuRoute"]
path = components/mizuroute
url = https://github.com/ESCOMP/mizuRoute
fxtag = cesm-coupling.n02_v2.1.2
fxurl = https://github.com/ESCOMP/mizuRoute
fxrequired = ToplevelRequired

[submodule "mom"]
path = components/mom
url = https://github.com/jedwards4b/MOM_interface
fxtag = rme/mi_231107.01
fxurl = https://github.com/ESCOMP/MOM_interface
fxrequired = ToplevelRequired

[submodule "mosart"]
path = components/mosart
url = https://github.com/ESCOMP/MOSART
fxtag = mosart1_0_48
fxurl = https://github.com/ESCOMP/MOSART
fxrequired = ToplevelRequired

[submodule "pop"]
path = components/pop
url = https://github.com/ESCOMP/POP2-CESM
fxtag = cesm_pop_2_1_20231208
fxurl = https://github.com/ESCOMP/POP2-CESM
fxrequired = ToplevelRequired

[submodule "pycect"]
path = tools/statistical_ensemble_test/pyCECT
url = https://github.com/NCAR/PyCECT
fxtag = 3.2.2
fxurl = https://github.com/NCAR/PyCECT
fxrequired = ToplevelRequired

[submodule "rtm"]
path = components/rtm
url = https://github.com/ESCOMP/RTM
fxtag = rtm1_0_78
fxurl = https://github.com/ESCOMP/RTM
fxrequired = ToplevelRequired

[submodule "ww3"]
path = components/ww3
url = https://github.com/ESCOMP/WW3-CESM
fxtag = ww3_221108
fxurl = https://github.com/ESCOMP/WW3-CESM
fxrequired = ToplevelRequired

[submodule "ww3dev"]
path = components/ww3dev
url = https://github.com/ESCOMP/WW3_interface
fxtag = rme/main_0.0.13.01
fxurl = https://github.com/ESCOMP/WW3_interface
fxrequired = ToplevelRequired

