# managed directories that are checked out by the externals tool
cime/
components/
libraries/
share/
ccs_config/

# generated local files
*.log

# editor files
*~
*.bak

# generated python files
*.pyc

# ignore for the merge to master and orphaning of the gh-pages branch
doc/build
