on:
  push:
    branches: [ master, cesm3.0-alphabranch ]
  pull_request:
    branches: [ master, cesm3.0-alphabranch ]
jobs:
  fleximod-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # oldest supported and latest supported
        python-version: ["3.7", "3.x"]
    steps:
      - id: checkout-CESM
        uses: actions/checkout@v4
      - id: run-fleximod
        run: |
          $GITHUB_WORKSPACE/bin/git-fleximod update
          echo
          echo "Update complete, checking status"
          echo
          $GITHUB_WORKSPACE/bin/git-fleximod status | tee status.out
          grep testfails status.out || exit 0
          exit 1
#      - name: Setup tmate session
#        if: ${{ failure() }}
#        uses: mxschmitt/action-tmate@v3
        
          
